html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.visualizer {
  width: 100%;
  height: 100%;
  display: block;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  width: 4em;
  height: 2em;
  background-color: #BDBDBD;
  transition: all .3s ease-in-out;
  border-radius: 1em;
}

.toggle .slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.toggle input:checked+.slider {
  background-color: #F44336;
}

.toggle input:focus+.slider {
  background-color: pink;
  box-shadow: 0 0 1px #F44336;
}

.toggle input:checked+.slider:before {
  -webkit-transform: translateX(1.9em);
  -ms-transform: translateX(1.9em);
  transform: translateX(1.9em);
}