html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.visualizer {
  width: 100%;
  height: 100%;
  display: block;
}
.ok {
  position: fixed;
  background-color: #4ecb6f;
  display: flex;
  align-items:center;
  flex-direction:column;
  justify-content: center;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
}
h1 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.alarm {
  position: fixed;
  background-color: black;
  display: none;
  align-items:center;
  flex-direction:column;
  justify-content: center;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
}
.alarm-shade {
  position: fixed;
  display: block;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #F44336;
  -webkit-animation: pulse 3s infinite ease-in-out;
  -o-animation: pulse 3s infinite ease-in-out;
  -ms-animation: pulse 3s infinite ease-in-out; 
  -moz-animation: pulse 3s infinite ease-in-out; 
  animation: pulse 3s infinite ease-in-out;
}

@-webkit-keyframes pulse {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes pulse {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
